[Desktop Entry]
Encoding=UTF-8
Name=STW
GenericName=STW Wallet
Name[uk]=STW Wallet
Name[ru]=STW Wallet
Name[pl]=STW Wallet
Name[be]=STW Wallet
Name[de]=STW
Name[es]=STW
Comment=STW wallet
Comment[uk]=Гаманець STW
Comment[ru]=Кошелек STW
Comment[pl]=Portfel STW
Comment[be]=Кашалёк STW
Comment[de]=STW Brieftasche
Comment[es]=STW Monedero
Exec=stwcoin %U
Terminal=false
Type=Application
Icon=stwcoin
MimeType=x-scheme-handler/stwcoin;
Categories=Office;Finance;
Version=1.0.0
